@charset "utf-8"; /* equivelant of meta charset thingy in html */
/*border box sizing for more predictable layouts */
html
{
  box-sizing: border-box;
}
*
{
  box-sizing: inherit; /*force everything to inherit*/
}


div#container /*this is horrendous */
{
  border-width: 5px 10px 15px 20px; /*this is intense*/
  border-style: dashed;
  border-left-color: orange;
  border-right-color: green;
  border-bottom-style: double;
  /* border-top: 5px dashed orange; *//*this is cool*/
}

div#container
{
  padding: 5%;
  padding-top: 1000%;
  margin: 5% auto 5% auto;

  background-color: blanchedalmond;
  background-image: url("../images/stucco.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

body
{
  background-color: blanchedalmond;
  background-image: url("../images/stucco.jpg");
  background-repeat: no-repeat;
  background-size: contain;

  font-size: 140%;
}

div#container
{
  width: 30em; /*elastic font sizing*/
  height: 500px; /*fixed*/

  overflow: auto; /*adds scrollbar inside element :OOOO*/
}

h1 em
{
  display: block; /*em is usually inline*/
  display: none; /*still in markup but not rendered*/
}

/* STEP 10: Comment out the width and display settings below for the MAIN SECTION elements, and use Flexbox, instead - set display to 'flex' on the MAIN element (the container of the SECTION elements) - learn more at https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
main
{
  width: 90%;
  display: flex;
}

/* STEP 8c: Set the width of the 3 MAIN SECTION elements to 30% and arrange them with the display property using inline-block to arrange them side-by-side */

main section
{
  border: 5px solid blue;
}

main section:nth-of-type(2)
{
  border-color: red;
}

main img
{
  float:left; /*yayeah*/
}
