/* External CSS to control styling of text */

html {
	font-family:'Courier New', Courier, monospace
}

/* STEP 13: Construct a declaration for the page text using the shorthand font syntax (font-style, font-variant, font-weight, font-stretch, font-size/line-height, and font-family.) */
html {
	
}

html {
	background-color: white;
	color: brown;
}

html {
	font-size: 12pt; /*pt is paged media*/
	font-size: 3vh; /*scales with viewport height*/
}
/* STEP 4b: Now attempt a variety of relative CSS length/size units (em, ex, ch, rem, vh, vw, %) to do the same thing - use the rule you created above */

/* STEP 4c: Set the root element (HTML) to 10px, then set the H1 and the H2 elements using rem - this is a common practice for controlling font sizing across a page */
html {
	font-size: 10px;
}

/* STEP 8: Apply font-variant to h1 or h2 (small-caps) */

/* STEP 9: Apply underline, overline and strikethrough to the h1 */

header h2{
	font-variant: small-caps;
	text-transform: initial;
}

/* STEP 14: Apply text-shadow to the H1 element (horizontal offset, vertical offset, blur radius, color) */
h1 {
	text-decoration: overline;
}

/* STEP 15: In your browser, open up the developer tools, and click on the various parts of the DOM - observe the CSS panel - that's it for now! */

/* STEP 10: Modify the letter and word spacing for the h2 */
h2 {
	letter-spacing: .5em;
}
/* STEP 12: Transform the text of the h2 (none | capitalize | uppercase | lowercase | full-width) */
h2 {
	text-transform: capitalize; /*capitalizes each first letter*/
}
/* STEP 5: Line height for paragraphs (leading) - set line-height on the MAIN P elements - this can be a unitless setting (a factor) */
main p {
	line-height: 1.5;
}

/* STEP 11: Change the indenting of the paragraphs */
main p {

}
/* STEP 6: Align text left, right, center and justify for paragraphs */
main p {
	text-align: justify;
}
/* STEP 7: Modify bold and italics, by applying to strong and em - swap them around */
em {
	font-style: oblique; /*more subtle italics for SOME typfaces*/
	font-weight: bold;
}