/* This document is a Cascading Style Sheet or CSS */

/* Elements */
h1 {
	color: rgb(198, 0, 0); /*you can also use a hex value */
	font-family : sans-serif;
}
h3 {
	color: rgb(212, 146, 22);
}

/* classes */
.threat{
	background-color: yellow;
	/* padding-right: 500px; */
}

/* ID elements */
#robot{
	background-color: hotpink;
	border: 10px dotted purple;
}

/* universal*/
*{
	border: 3px solid lightblue;
}

/* attribute any lang attribute that begins with f cause of ^, ends with $*/ 
[lang^="fr"] { 
	border: 5px dotted red;
}

/* pseudoclass */
p:hover {
	color: limegreen;
	font-style: italic;
	/* font-size: 70%; */
}

/* pseudo element */
p::first-letter {
	font-size: 1000%;
}
p::first-line {
	font-family: 'Courier New', Courier, monospace;
}

/*decendant/contextual*/
h1 em {
	font-size: 500%;
	font-family: 'Courier New', Courier, monospace;
}

/*child/direct descendant*/
p > em {
	background-color: black;
	color: white;
	font-size: 1000%;
}

/* adjacent or general sibling idk */
h2 ~ p{
	background-color: red;
}

/* grouped */
h1, h2 {
	-webkit-text-stroke: 2px rgb(255, 255, 255);
	text-shadow: 50px 3px 3px rgb(190, 0, 0);
}

/* STEP7b: Try some other regular expression type variations -

	[attr|="val"] - all elements with the attribute attr for which the value is exactly "val" or starts with "val-" (the trailing dash here handles language codes)
	[attr^="val"] - all elements with the attribute attr for which the value starts with "val"
	[attr$="val"] - all elements with the attribute attr for which the value ends with "val"
	[attr*="val"] - all elements with the attribute attr for which the value contains the substring "val"

See https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/Attribute_selectors for more specifics */