@charset "utf-8";

html {
	box-sizing: border-box;
}
*, *::before, *::after {
	box-sizing: inherit; /*everything inherits border box box sizing (ie: 50% will be 50% of the box rather than the content*/
}

/* Basic layout styles */
body {
	background: black;
	font-size: 100%;
	font-family: 'Courier New', Courier, monospace;
}
#container {
	background: #ccc;
	width: 80%;
	margin: 0 auto;
	padding: 2.5%;
}
header, section, footer {
	background: #fff;
	padding: 2.5%;
	margin-bottom: 1em;
}
main {
	display: flex;
	flex-direction: column;
}


/* DONE 4: Add styles to visually communicate that this is a small screen - use the ::after psuedoelement and the content property to add some text after the H1 */
h1::after { /* adds small to h1's text at the end */
	content: " (Small)";
}
/* Smartphone/small screen styles */
/* DONE 5: Edit the above CSS to set the background color of the #container to lightblue */
#container {
	background-color: #70f3ff;
}

/* DONE 6a: Add a media query to target medium window sizes (tablets) that are a minimum of 481px */
@media screen and (min-width: 481px) { /*show media queries helps visualize this when using inspect element */
	/* Tablets/medium screen styles */
	h1::after {
		content: " (Medium)";
	}
	#container {
		background-color: blueviolet;
	}
	main {
		flex-direction: row;
		flex-wrap: wrap;
		font-size: 0.8em;
	}
	/* The first SECTION element inside the MAIN should stretch all the way across the page layout container */
	main section:nth-of-type(1) { /*first element of type section in main*/
		flex-basis: 100%;
	}
	/* The second and third SECTION elements should sit side-by-side - remember the box model when setting the width with flex-basis */
	main section:nth-of-type(2),
	main section:nth-of-type(3) {
		flex-basis: 50%;
	}
}

/* DONE 6b: Edit the above CSS to set the background color of #container to orange and arrange the page in 2-column layout with the first section on top of the second and third sections (using flexbox) */

/* DONE 7a: Add another media query to target only screens 1025px or larger (notebooks and desktops)*/
@media screen and (min-width: 1025px), (orientation: landscape) { /*comma is or*/
	/* Desktops/large screen styles */
	h1::after {
		content: " (Large)";
	}
	#container {
		background-color: rgb(209, 160, 0);
	}
	main {
		flex-wrap: nowrap;
	}
	main section:nth-of-type(n) { /*you need to be MORE or the same specific*/
		flex-basis: auto;
	}
}

/* DONE 7b: Edit the above CSS to set the background color of #container to olive and arrange the page in a 3-column layout (using flexbox) */

/* DONE 8: Add an OR conditional (,) to the above media query that applies the above CSS if the device is being held in landscape orientation, rather than portrait */

/* DONE 9: Try the orientation switch using the browser developer tools to watch 'orientation: landscape' in action, then go back to the file 'index.html' for STEP 10*/
