html {
    font-family: Helvetica, Arial, sans-serif;
}

/* DONE 5: Styling Lists (list-style-type, list-style-position, list-style-image) */
/* DONE 5a: list-style-type (none | square | circle | disc) */
ul {
    list-style-type: armenian;
    list-style-position: inside;
    list-style-image: url("images/check.png");
}

/* DONE 5b: Manipulate the list-style-position (inside | outside) in the rule above */
/* DONE 5c: Substitute regular list markers with images (list-style-image) in the rule just below */
ul {}

/* DONE 5d: list-style-type (armenian | decimal | decimal-leading-zero | georgian | lower/upper-alpha | lower-greek | lower-latin | lower/upper-roman) - change in the rule below */
ol {
    list-style-type: lower-greek;
}

/* DONE 6: Laying Out Lists horizontally - use display: inline-block or inline */
li {
    /* puts them in the same line */
    /* display: inline; */
    /* good for ex: navigation system in nav element */
    /* display: inline-block; */
}

/* DONE 7: Targetting nested lists with contextual selectors - comment out all above declarations first */
ul ul {
    background-color: grey;
}

ul ul ul {
    background-color: lightgrey;
}

/* DONE 8: Target specific levels of list items with direct-descendent selectors */
main>ul>li>ul>li {
    /*direct nesting*/
    background-color: red;
}

h1 img {
    float: right;
}

/* DONE 9: Collect all above embedded CSS styles here and place them in an external CSS file */

/* DONE 10: Add a LINK element to this page, attaching the new external CSS file */