/*NOTE: i wanted to add normalize.css from lesson 13 but i dont think that's allowed*/

html {
	box-sizing: border-box;

    /* font-size: 120%; */ /*makes all the text 20% larger*/

    overflow-x: hidden; /*hides horizontal scrollbar*/
}

*, *::before, *::after {
	box-sizing: inherit; /*everything inherits border box box sizing (ie: 50% will be 50% of the box rather than the content*/
}

body {
    font-family: 'Courier New', Courier, monospace; /*i wanted it to look like it was typed on a typewriter*/
    background-image: url("../images/PaperTexture.jpg");
    text-align: center;

    /*ensures the website looks the same regardless of the zoom. this is my screen's width (1536 px)*/
    max-width: 1521px;
    min-width: 1521px;
}

p, h5 {
    text-align: justify;
    /* text-indent: 2em each-line; */ /*eachline doesnt work in chrome :(*/
    /* line-height: 1.5em; */
}

header {
    text-align: center; /*the navigation menu looks aful but itll look better soon*/
    background-color: rgba(60, 47, 19, 0.352);
    background-image: linear-gradient();
    color: rgb(56, 52, 24);

    width: 80%;
    margin: 0 auto;

    padding: 1em;
}

main {
    /*turn stuff within main into columns*/
    display: flex;
    flex-direction: row;

    background-color: rgb(255, 255, 255);

    width: 90%;
    margin: 0 auto;
}

section {
    /*column sizing*/
    width: auto; /*auto width automatically sets the widths so that the sections' heights are more similar. so, a column with more text still looks nice next to one with less.*/
    margin: 0 auto; /*brings it to the middle*/
    padding: 2.5%; /*space between the columns*/

    background-color: rgb(198, 228, 255);
}

article {
    display: flex;
    flex-direction: row;

    width: 50%;
}
article > section {
    width: 50%;
}
aside {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    
    /* justify-content: center; */
}
img#apple {
    position: fixed;

    margin: 0 auto;

    /* padding-bottom: 30em; */
    /* position the apple */
    margin-top: 4em;
    margin-left: 10em;

    z-index: 1; /*ensures it shows above*/
}
img#newton {
    position: absolute;

    /*position him at the bottom*/
    margin-top: 71.5em;
    margin-left: 2.5em;
}

form {
    display: flex;
    flex-flow: column; /*makes the submit and reset buttons cool*/

    /* width: 75%; */
    margin: 0 auto; /*center*/
    padding: 2.5%;

    background-color: aliceblue;

    text-align: left;
}
form#reviewForm {
    width: 100%;
}
form#purchaseForm {
    width: 50%
}

fieldset {
    display: block; /*makes the div elements within fieldset aligned in columns :D*/
}

/* TODO: customize all h1, h2, h3, p, whatever elements to not be the defaults! */


/* text sizes */

p {
    font-size: 20px;
}