/*NOTE: i wanted to add normalize.css from lesson 13 but i dont think that's allowed*/

html {
	box-sizing: border-box;

    /* font-size: 120%; */ /*makes all the text 20% larger*/

    /*hides horizontal scrollbar*/
    /* overflow-x: hidden; */
}

/*everything*/
*{
	box-sizing: inherit; /*everything inherits border box box sizing (ie: 50% will be 50% of the box rather than the content*/
}

body {
    font-family: 'Courier New', Courier, monospace; /*i wanted it to look like it was typed on a typewriter*/
    background-image: url("../images/PaperTexture.jpg");

    /*center page when zoomed out*/
    text-align: center;
    margin: auto;

    /*ensures the website looks the same regardless of the zoom. this is my screen's viewport width (1521 px)*/
    max-width: 1513px; /*trial and error to make the horizontal scrollbar go away*/
    min-width: 1513px;
}

p, h5 {
    text-align: justify;
    /* text-indent: 2em each-line; */ /*eachline doesnt work in chrome :(*/
    /* line-height: 1.5em; */
}

header {
    text-align: center;
    background-color: rgba(60, 47, 19, 0.352);
    background-image: linear-gradient();

    width: 80%;
    margin: 20px auto;

    padding: 1em;

    border-radius: 10px; /*rounds corners*/
}

ul {
    text-align: left;
}

main {
    /*turn stuff within main into columns*/
    display: flex;
    flex-direction: row;

    background-color: rgb(255, 255, 255);
    padding: 10px; /*effecitvely adds a white border*/

    width: 90%;
    margin: 0 auto;

    border-radius: 10px; /*rounds corners*/
    border-style: solid;
}

section {
    /*column sizing*/
    width: auto; /*auto width automatically sets the widths so that the sections' heights are more similar. so, a column with more text still looks nice next to one with less.*/
    margin: 0 auto; /*brings it to the middle*/
    padding: 2.5%; /*space between the columns*/

    background-color: rgb(198, 228, 255);

    /*border-radius: 10px;*/ /*rounds corners*/
}

article {
    display: flex;
    flex-direction: row;

    width: 50%;
}
article > section {
    width: 50%;
}
aside {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    
    /* justify-content: center; */
}
img#apple {
    position: fixed;

    margin: 0 auto;

    /* padding-bottom: 30em; */
    /* position the apple */
    margin-top: 4em;
    margin-left: 10em;

    z-index: 1; /*ensures it shows above*/
}
img#newton {
    position: absolute;

    /*position him at the bottom*/
    margin-top: 75.5em;
    margin-left: 5.5em;
}
img#impact {
    position: absolute;

    /*its default position is on his head*/
    margin-top: 70em;
    margin-left: 5.25em;
}

form {
    display: flex;
    flex-flow: column; /*makes the submit and reset buttons cool*/

    /* width: 75%; */
    margin: 0 auto; /*center*/
    padding: 2.5%;

    background-color: aliceblue;
    border-radius: 10px; /*rounds corners*/
    border-style: solid;

    text-align: left;
}
form#reviewForm {
    width: 105%
}
form#purchaseForm {
    width: 60%;

    margin: 10px auto;
}
form#contactForm {
    width: 105%;
}

fieldset {
    display: block; /*makes the div elements within fieldset aligned in columns :D*/
}

/* text sizes */

p {
    font-size: 20px;
}

/* navigation */
nav {
    display: inline-block;
    position: sticky; /*sticks to the viewport at the top*/
    top: 5px; /*sticky doesnt do anything without an assigned top value*/
}
nav > ul {
    list-style: none; /*remove the dots*/
    display: flex;
}
nav > ul > li {
    padding: 2em;
    background-color: rgba(0, 47, 88, 0.426);

    /*border-radius: 10px;*/ /*rounds corners*/
}
nav > ul > li > a {
    background-color: rgb(171, 220, 255);;
    color: black;
    
    padding: 1em;
    text-decoration: none;

    border-radius: 10px; /*rounds corners*/
    border-style: solid;
}
nav > ul > li > a:hover {
    text-decoration: underline;
}
nav > ul > li > a.current { /*the current tab for each page is set manually so i dont have to use js*/
    background-color: rgb(0, 67, 126);
    color: white;
}

header > h1 {
    background-image: url("../images/NewtonBannerThin.png"); /*image source: World History Encyclopedia, cropped by me*/

    margin: auto;

    color: rgb(255, 246, 197);
    text-shadow: 1px 1px 2px black;
    font-size: 64px;
}
header > h1#large { /*for the home page, i wanted the banner to show more of newton's headshot*/
    background-image: url("../images/NewtonBanner.png"); /*image source: World History Encyclopedia. also cropped by me*/
    padding: 2.3em;
}

/*turn h1 links into buttons*/
h1 a {
    background-color: rgb(171, 220, 255);;
    color: black;
    
    padding: .3em;
    text-decoration: none;

    border-style: ridge;
    border-color: white;

    font-size: 70%;
}
h1 a:hover {
    text-decoration: underline;
}

/*make sale prices look nice*/
h3#sale em {
    color:red;
    font-size: 300%;
    font-weight: bold;
    letter-spacing: 5px;
    text-shadow: 1px 1px 2px black;

    background-color: rgb(255, 255, 162);
    border-style: dotted;
    border-radius: 10px;

    display:inline-block; /*turns it into a box awesome*/
    padding: 10px;
    margin: 10px auto 10px auto; /*top and bottom 10px*/
}
h3#sale del {
    color: rgb(157, 157, 157);
    font-size: 150%;
    font-style: italic;
}
h3#sale strong {
    font-size: 150%;
    font-weight: bold;
    text-shadow: 1px 1px 2px red;

    text-decoration: underline;
}

p.centered {
    text-align: center;
}